.form-group{
        width: 450px;
        height: 50px;
        background-color: rgb(243, 243, 243); 

        display: flex;     

       
    }

h2
{
    color: rgb(231, 231, 231);
    background-color: rgb(32, 36, 35);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}
    
.list-group-item{
    background-color: rgb(128, 175, 206); 
    font-size: 18px;
    font-weight: bold;
}