
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #E8AEB7;
    border-radius: 10px;
}

.bien
{
    color: rgb(231, 231, 231);
    background-color: none;
    font-weight: bold;
    text-align: center;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #ffc1cc;
    height: 100vh;

}
.recordar{
    margin-top: 10px;
    font-size: 14px;
    color: rgb(33, 131, 106);
    text-align: center;
}
input[type="submit"]    {
    width: 100%;
    background: rgb(33, 131, 106);
    color: #ffc1cc;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   

.register{
    color: #ffc1cc;
    background-color: rgb(33, 131, 106);
    padding: 7px;
    font-size: 15px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto  ;
    text-align: center;
}

a{text-decoration: dashed;
color: #4e0e0e;
}
