body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #ffc1cc;
    height: 100vh;
}
.container{
    max-width: 400px;
    margin: 0 auto;
}

a{text-decoration: dashed;
color: #4e0e0e;
}
