body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #ffc1cc;
    height: 100vh;
}

h1  {
    text-align: center;
    color: rgb(247, 218, 218);
    box-decoration-break: clone;
    font-size: 40px;
}   

input {
  width: 30px;   
  height: 30px;   

}

.container-flex {
    display: flex; 
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap; 
}

h1
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.container{
    color: #333333;
    background-color: #e8aeb7;
    padding: 7px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto  ;
    text-align: center;
}

.titulo{
    color: #333333;
    background-color: #e8aeb7;
    padding: 7px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto  ;
    text-align: center;
}

.a{text-decoration: dashed;
color: #4e0e0e;
background-color: aliceblue;
box-shadow: #ad5d69;
border-radius: 25%;
}